
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | 404</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <link rel="stylesheet" href="/css/error.css" />
</head>
<body>
    <section class="todohome">
        <header>
            <h1>Excerise App</h1>
        </header>
        <section>
            <h2 class="alert"><%= message%></h2>
            <hr />
            <a class="button" href="/login">Sign in</a>
        </section>
    </section>
    <footer class="info">
        <p>Created by </p><a href="https://www.linkedin.com/in/psychology-simango-8506461b9/">Psychology Simango</a>
        <p>Made with love</p>
        <p>Authentication powered by <a>Passport</a></p>
        <hr />
    </footer>
</body>
</html>