<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excercise App</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/base.css"/>
</head>
<body>
    <section class="todoapp">
        <nav class="nav">
            <ul>
                <li>
                    <form>
                        <button type="submit" class="logout">Sign out</button>
                    </form>
                </li>
            </ul>
        </nav>
        <header class="header">
            <h1>Exercise App</h1>
            <form>
                <input type="text" name="title" placeholder="Add an exercise here" autofocus class="new-todo">
                <input type="hidden" name="filter">
            </form>
        </header>
        <section class="main">
            <form >
                <input />
                <label>Mark all as complete</label>
            </form>
            <ul>

            </ul>
        </section>
    </section>
    <footer class="footer">
        <span></span>
        <ul class="filters">
            <li><a>All</a></li>
            <li><a>Active</a></li>
            <li><a>Completed</a></li>
        </ul>
        <button>Clear Completed</button>
    </footer>
</body>
</html>